$font:  'Poppins', sans-serif;

$black: #000;
$white: #fff;
$pink: rgba(199, 0, 123, 0.873);
$light: rgba(212, 222, 224, 0.888);
$blueDark: hsla(228, 80%, 14%, 0.87);
$blueLight: hsl(214, 100%, 73%);

$rotation: 0;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::after, *::before {
    font-family: $font;
    box-sizing: border-box;
}
body {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    //background: linear-gradient(to right, $blueDark, $blueLight);
    @include center;
    min-height: 100vh;
    overflow: hidden;
    .name {
        position: absolute;
        top: 2%;
        font-size: 2.5rem;
        text-shadow: 1px 1px $pink;
        color: $blueDark;
    }
    .clock {
        width: 500px;
        height: 500px;
        background-color: $light;
        border-radius: 50%;
        border: 4px solid $black;
        position: relative;
        z-index: 1;
    }
    .clock::after {
        content: '';
        position: absolute;
        background-color: $black;
        z-index: 11;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    .number {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 2.2rem;
        text-align: center;
        transform: rotate($rotation);
    }
    .number1 { transform: rotate(30deg);}
    .number2 { transform: rotate(60deg);}
    .number3 { transform: rotate(90deg);}
    .number4 { transform: rotate(120deg);}
    .number5 { transform: rotate(150deg);}
    .number6 { transform: rotate(180deg);}
    .number7 { transform: rotate(210deg);}
    .number8 { transform: rotate(240deg);}
    .number9 { transform: rotate(270deg);}
    .number10 { transform: rotate(300deg);}
    .number11 { transform: rotate(330deg);}
    .hand {
        --rotation: 0;
        position: absolute;
        bottom: 50%;
        left: 50%;
        background-color: $black;
        border: 1px solid $white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform-origin: bottom;
        z-index: 10;
        transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    }
    .second {
        width: 3px;
        height: 45%;
        background-color: $pink;
    }
    .minute {
        width: 7px;
        height: 40%;
        background-color: $black;
    }
    .hour {
        width: 10px;
        height: 35%;
        background-color: $black;
    }
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
    img {
        width: 50px;
        animation: bubble 6s linear infinite;
    }
    img:nth-child(1) {
        animation-delay: 2s;
        width: 25px;
    }
    img:nth-child(2) {
        animation-delay: 1s;
    }
    img:nth-child(3) {
        animation-delay: 3s;
        width: 25px;
    }
    img:nth-child(4) {
        animation-delay: 4.5s;
    }
    img:nth-child(5) {
        animation-delay: 3s;
    }    
    img:nth-child(6) {
        animation-delay: 6s;
        width: 20px;
    }
    img:nth-child(7) {
        width: 35px;
        animation-delay: 7s;
    }
    @keyframes bubble {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: translateY(-80vh);
            opacity: 0;
        }
    }
}